/* grid */
$minwidth: 320px;
$mw: 1180;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding-top: $header-height;
    &.loaded {
    }
}

.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $md1+px) {
        max-width: 970px;
    }

    @media (max-width: $md2+px) {
        max-width: 750px;
    }

    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 1.25rem;
    }
}
